.App {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("./assets/img/logo_bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.Header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
}

.header-left {
  display: inline-block;
  height: 5rem;
  width: auto;
  margin-left: 0.5rem;
}

.header-center {
  font-size: 3rem;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  line-height: 5rem;
}

.header-right {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: right;
  line-height: 5rem;
  margin-right: 1rem;
}

.page {
  width: 100vw;
  height: 100vh;
}

.Main {
  top: 0;
  left: 0;
  font-size: 5rem;
  font-weight: 500;
  line-height: 100vh;
}

.title {
  font-size: 3rem;
  color: rgb(141, 141, 141);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  line-height: 50vh;
}

.about-body {
  line-height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5rem;
}

.footer-right {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: right;
  line-height: 5rem;
  margin-right: 1rem;
}

p {
  margin: 0;
}

body {
  overflow-x: hidden;
}
